/* hero.component.css */
.hero-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: white;
}

.hero-title {
  font-size: 2rem;
}

.hero-greeting {
  font-size: 1.2rem;
}
