.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: black;
  margin: 1px;
}

.cell.alive {
  background-color: white;
}
